<div class="container fixed-size-div">
    <div class="row-sm-12 m-1 p-0">
        <div class="row-sm-12 d-flex justify-content-between align-items-right">
            <h2>{{title}} Nro:{{arg?.idInscripcion}} </h2> 
        </div>
            
        <form class="col-sm-12" (ngSubmit)="guardar()" [formGroup]="formulario">
            <div class="input-group row-sm-12">
                <div class="form-group col-sm-12">
                    <label class="small">Alumno</label>
                    <app-combo-box formControlName="id_Alumno" [options]="comboAlumnos"></app-combo-box>
                    <div class="text-danger small" *ngIf="id_Alumno?.invalid">
                        Dato requerido
                    </div>
                </div>
            </div>

            <div class="input-group row-sm-12">
                <div class="form-group col-sm-6">
                    <label class="small">Fecha</label>
                    <input type="text" class="form-control form-control-sm" formControlName="fech_Inscripcion">
                    <div class="text-danger small" *ngIf="fech_Inscripcion?.invalid">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="small">Curso</label>
                    <app-combo-box formControlName="idCurso" [options]="comboCursos" (selectionChange)="seleccionaCurso($event)"></app-combo-box>
                    <div class="text-danger small" *ngIf="idCurso?.invalid">
                        Dato requerido
                    </div>
                </div>
            </div>

            <div class="input-group row-sm-12">
                <div class="form-group col-sm-6">
                    <label class="small">Año</label>
                    <input type="text" class="form-control form-control-sm" formControlName="ano_Letivo">
                    <div class="text-danger small" *ngIf="ano_Letivo?.invalid">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="small">Estado</label>
                    <app-combo-box formControlName="estado_Inscripcion" [options]="comboEstado"></app-combo-box>
                    <div class="text-danger small" *ngIf="estado_Inscripcion?.invalid">
                        Dato requerido
                    </div>
                </div>
            </div>
            <div class="input-group row-sm-12">
                <div class="form-group col-sm-6">
                    <label class="small">Importe Matricula</label>
                    <input type="text" class="form-control form-control-sm" formControlName="monto_Matricula">
                    <div class="text-danger small" *ngIf="monto_Matricula?.invalid">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="small">Importe Descuento</label>
                    <input type="text" class="form-control form-control-sm" formControlName="descuento">
                    <div class="text-danger small" *ngIf="descuento?.invalid">
                        Dato requerido
                    </div>
                </div>
            </div>
            <div class="row-sm-12 d-flex justify-content-between align-items-right">
                <label></label>
                <button class="btn btn-primary">Guardar</button>
            </div>            
        </form>
    </div>
</div>