<p>hola-mundo works!</p>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Apellido</th>
			<th scope="col">Email</th>
		</tr>
	</thead>
	<tbody>
		@for (alumno of alumnos; track alumno.nomb_A; let i = $index) {
			<tr>
				<th scope="row">{{ i + 1 }}</th>
				<td>
					{{ alumno.nomb_A }}
				</td>
				<td>{{ alumno.apellido_A }}</td>
				<td>{{ alumno.direc_A  }}</td>
			</tr>
		}
	</tbody>
</table>

