<div class="card m-2 fixed-size">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h1>Inscripciones</h1>
        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip" title="Agregar alumno" (click)="nuevoRegistro()">
            Nuevo
        </button>
    </div>
    <div class="card-body">
        <table class="table table-hover table-striped noseleccionar">
            <thead>
                <tr>
                    <th scope="col" class="w-40 justify-content-center">Nombre</th>
                    <th scope="col" class="w-40 justify-content-center">Apellido</th>
                    <th scope="col" class="w-5 justify-content-center">Direccion</th>
                    <th scope="col" class="w-5 justify-content-center">Estado</th>
                    <th scope="col" class="w-0 justify-content-center"></th>
                </tr>
            </thead>
            <tbody>
                @for (itemDato of datosTabla; track $index) {
                <tr data-toggle="tooltip" title="{{ itemDato.idinscripcion }}">
                    <td class="w-40">{{ itemDato.alumno.nomb_A }}</td>
                    <td class="w-40">{{ itemDato.alumno.apellido_A }}</td>
                    <td class="w-40">{{ itemDato.alumno.direc_A }}</td>
                    <td class="w-40">{{ itemDato.estado_Inscripcion }}</td>
                    <td class="w-0">
                        <div class="btn-group btn-group-toggle d-flex justify-content-center">
                            <button type="button" class="btn btn-outline-info btn-sm" data-toggle="tooltip"
                                title="Imprimir Contrato" (click)="imprimirContrato(itemDato, $index)"><i
                                    class="fas fa-print"></i></button>
                            <button type="button" class="btn btn-outline-warning btn-sm" data-toggle="tooltip"
                                title="Modifica alumno" (click)="modificarRegistro(itemDato, $index)"><i
                                    class="far fa-edit"></i></button>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip"
                                title="Elimina alumno" (click)="eliminarRegistro($index)"><i
                                    class="fas fa-eraser"></i></button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>