<div class="container fixed-size-div">
    <div class="row-sm-12 m-1 p-0">
        <h2>{{title}}</h2>
        <form class="col-sm-12" (ngSubmit)="guardar()" [formGroup]="formulario">
            <div class="input-group row-sm-12">
                <div class="form-group col-sm-6">
                    <label class="small">ID Alumno</label>
                    <input type="number" class="form-control form-control-sm" formControlName="id_Alumno">
                    <div class="text-danger small" *ngIf="id_Alumno?.invalid">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <div class="form-check justify-content-between">
                        <input class="form-check-input" type="checkbox" formControlName="estado_A" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Estado
                        </label>
                    </div>
                </div>
            </div>

            <div class="input-group row-sm-12">
                <div class="form-group col-sm-6">
                    <label class="small">Nombre</label>
                    <input type="text" class="form-control form-control-sm" formControlName="nomb_A">
                    <div class="text-danger small" *ngIf="nomb_A?.invalid">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="small">Apellido</label>
                    <input type="text" class="form-control form-control-sm" formControlName="apellido_A">
                    <div class="text-danger small" *ngIf="apellido_A?.invalid">
                        Dato requerido
                    </div>
                </div>
            </div>

            <div class="input-group row-sm-12">
                <div class="form-group col-sm-6">
                    <label class="small">Direccion</label>
                    <input type="text" class="form-control form-control-sm  mb-6" formControlName="direc_A">
                    <div class="text-danger small" *ngIf="direc_A?.invalid">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group col-sm-6 m-0">
                    <label class="small">Fecha de Nacimiento</label>
                    <input type="date" class="form-control form-control-sm mb-6" formControlName='fech_Nac'>
                </div>
            </div>

            <div class="input-group row-sm-12">
                <div class="form-group col-sm-4">
                    <label class="small">Nivel</label>
                    <input type="text" class="form-control form-control-sm" formControlName="nivel_A">
                    <div class="text-danger small" *ngIf="nivel_A?.invalid">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="small">Ciclo</label>
                    <input type="text" class="form-control form-control-sm" formControlName="ciclo_A">
                    <div class="text-danger small" *ngIf="ciclo_A?.invalid">
                        Dato requerido
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <label class="small">Especializacion</label>
                    <input type="text" class="form-control form-control-sm" formControlName="especializacion_A">
                    <div class="text-danger small" *ngIf="especializacion_A?.invalid">
                        Dato requerido
                    </div>
                </div>
            </div>

            <div class="input-group row-sm-12">
                <h5>Contactos</h5>
            </div>

            <div class="input-group row-sm-12">
                <table class="table table-bordered col-sm-12 fixed-size-table table-sm">
                    <thead>
                        <tr>
                            <th>Nombre del Contacto</th>
                            <th>Encargado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (contacto of contactos; track $index) {


                        <tr id="contacto1">
                            <td>
                                {{contacto.nombre_contacto }}
                            </td>
                            <td class="d-flex justify-content-center m-10 p-10"><input type="checkbox"
                                    class="form-check-input" checked></td>
                            <td>
                                <div class="btn-group btn-group-toggle d-flex justify-content-center">

                                    <button type="button" class="btn btn-outline-info btn-sm" data-toggle="tooltip"
                                        (click)="agregarContacto()" title="Buscar Contacto"><i
                                            class="fas fa-plus"></i></button>

                                    <button type="button" class="btn btn-outline-info btn-sm" data-toggle="tooltip"
                                        title="Nuevp Contacto"><i class="fas fa-search"></i></button>

                                    <button type="button" class="btn btn-outline-danger btn-s" data-toggle="tooltip"
                                        (click)="quitarContacto(contacto)" title="Quitar Contacto"><i
                                            class="fas fa-times"></i></button>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="row-sm-12 d-flex justify-content-between align-items-right">
                <label></label>
                <button class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>